{% extends 'partials/base-verifier.html' %}
{% load static %}

{% block content %}

<div class="container-fluid rounded bg-white mt-5 mb-5 verifier-profile">
    <form method="post" enctype="multipart/form-data" id="profileForm" style="padding-top: 6.5em;">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    {% if user_profile.profile_image.url is not null %}
                        <img class="rounded-circle mt-5" width="150px" height="150px" src="{{ user_profile.profile_image.url }}" alt="User Profile Image">
                    {% else %}
                        <img class="rounded-circle mt-5" width="150px" height="150px" src="{% static 'assets/images/profile/avtar.jpeg' %}" alt="Default Image">
                    {% endif %}
                    <div class="form-group" style="margin-top: 1em;">
                        <input style="padding: .3em 1em;font-size: 1.2em;width: 200px;color: #f6fad1;" type="file" name="profile_image" accept="image/*" id="id_profile_image">
                    </div>
                    <span class="font-weight-bold" style="font-size: 2.5em;font-weight: 700;">{{ user_profile.name }} {{ user_profile.surname }}</span>
                    <span class="text-black-600" style="font-size: 1.8em;">{{ user_profile.email }}</span>
                    <button style="margin-top: 2em;" type="submit" class="btn btn-primary profile-button">Save Profile</button>
                </div>
            </div>


            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right" style="font-size: 5em; font-weight: 600;color: #9aa62d;">Profile Settings
                        </h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labels">Name</label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labels">Surname</label>
                                {{ form.surname }}
                            </div>
                        </div>
                        <div class="col-md-12 border-right">

                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="labels">Mobile Number</label>
                                        {{ form.mobile_number }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="labels">Address</label>
                                        {{ form.address }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="labels">Postcode</label>
                                        {{ form.postcode }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="labels">Area</label>
                                        {{ form.area }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="labels">Email ID</label>
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="labels">Education</label>
                                        {{ form.education }}
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="labels">Country</label>
                                        {{ form.country }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="labels">State/Region</label>
                                        {{ form.state_region }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="mb-3 d-flex justify-content-between align-items-center experience">
                        <span style="font-size: 5em; font-weight: 600;color: #9aa62d;">Requests</span>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>


{% endblock content %}