{% extends 'partials/base-verifier.html' %}
{% load static %}

{% block content %}

<section class="verifierback-header">
<header class="verifier-header">
    <span>
        <li>
            <div class="hero_text">
                <text>PLOG</text>
                <text>PAYOUTS</text>
                <p>"Join us in the mission to clean, transform, and create a greener community. Together, we're the
                    catalysts for positive change."</p>
            </div>
        </li>
    </span>
</header>
</section>    

<section class="contact" class="py-5" id="contact">
    <div class="contact_head revealUp">
        <strong>Contact</strong>
    </div>
    <div class="container">
        <div class="row revealUp">
            <div class="col-md-6 mx-auto">
                <form action="contact.php" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="message" name="msg" rows="4"
                            placeholder="Your Message"></textarea>
                    </div>
                    <button style="margin-top: 1em;" type="submit" class="button">Submit</button>

                    <legend style="padding-top: 20px; margin: 0; font-size: 15px;" class="text-center">Tap the
                        desired app to Contact</legend>

                    <ul style="display: flex; justify-content: center; padding: 0%;" class="text-center py-3">
                        <a href="https://wa.me/919098691543"><img width="32" height="32"
                                src="https://img.icons8.com/material-outlined/32/whatsapp--v1.png"
                                alt="whatsapp--v1" /></a>
                        <a href="https://instagram.com/anurag_singh__0__0__?utm_source=qr&igshid=NGExMmI2YTkyZg%3D%3D"><img
                                width="32" height="32"
                                src="https://img.icons8.com/material-outlined/32/instagram-new--v1.png"
                                alt="instagram-new--v1" /></a>
                        <a href="https://www.facebook.com/profile.php?id=100025792005909"><img width="32" height="32"
                                src="https://img.icons8.com/material-outlined/32/facebook-new.png"
                                alt="facebook-new" /></a>
                        <a
                            href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJTJnsjzfmgQrCZnjXXFmDmzXNKlgJDpdPNlGlwnFQpfSVVQPnDVTCxpqfFrkQXNQCJpSwL"><img
                                width="32" height="32" src="https://img.icons8.com/fluency-systems-regular/32/gmail.png"
                                alt="gmail" /></a>
                        <a href="https://www.linkedin.com/in/anurag-singh-b90439282"><img width="32" height="32"
                                src="https://img.icons8.com/ios/32/linkedin.png" alt="linkedin" /></a>
                    </ul>
                </form>
                <script>
                    document.getElementById("contact").addEventListener("submit", function () {
                        alert("Form submitted successfully!");
                    });
                </script>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-white text-center py-3">

        <div class="container">
            <p>&copy; 2023 lorem ipsum</p>
            <p class="mb-0">Designed and crafted with <img width="48" height="48"
                    src="https://img.icons8.com/color/48/hearts.png" alt="hearts" /> by <span
                    class="text-primary">Anurag Singh </span>&<span class="text-primary"> Yuvraj Singh</span></p>
        </div>
    </footer>
</section>
{% endblock content %}