{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<!-- <div id="loader">
        <div class="loader">
            <label>Redirecting...</label>
            <div class="loading"></div>
        </div>
    </div> -->

<script>
    let navbar = document.getElementById("navbar");
    let hero_text = document.querySelector(".hero_text p");
    window.addEventListener("scroll", () => {
    const offset = window.pageYOffset;
    if (offset >= 10) {
        navbar.style.backdropFilter = "blur(10px)";
    }
    else {
        navbar.style.backdropFilter = "blur(0px)";
    }
});
</script>
<style>
    #navbar {
        display: flex;
        align-items: center;
        justify-content: right;
        position: fixed;
        background: transparent!important;
        top: 0;
        width: 100%;
        z-index: 1000;
        backdrop-filter: blur(0px);
    }
</style>
<header class="index-header">
    <span>
        <li>
            <div class="hero_text">
                <text>PLOG</text>
                <text>PAYOUTS</text>
                <p>"Join us in the mission to clean, transform, and create a greener community. Together, we're the
                    catalysts for positive change."</p>
            </div>
        </li>
    </span>
</header>

<section>
    <div class="content" id="Map-Points">
        <div class="row revealUp">

            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="content_frame_text">
                        <div class="content_head">
                            <strong>Ma</strong><strong>p-Points</strong>
                        </div>
                        <div class="content_head_para">
                            <p>Explore our interactive map to discover marked points indicating dry garbage hotspots, offering prime opportunities for plogging. Remember to capture a photo for verification and unlock rewards for your eco-friendly endeavors as we come together to foster a cleaner, healthier planet!</p>
                            <div class="button">
                                <a href="{% url 'show_contributions' %}">View Info...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card location_back"></div>
            </div>

        </div>

    </div>
</section>

<section>
    <div class="redeem_store" id="redeem_store">
        <div class="redeem_head revealUp">
            <strong>Redeem</strong><strong> Points</strong>
        </div>
        <div class="row revealUp">

            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="redeem_storeimage">

                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="redeem_storetext">
                        <div class="redeem_para">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur corporis harum
                                eos
                                eaque, dolores perferendis. Nemo alias animi autem tempora quod, laborum fugit, cum
                                nostrum odio consequatur aliquam dolorem quis. alias animi autem tempora quod,
                                laborum
                                fugit, cum nostrum odio consequatur aliquam dolorem quis.</p>
                            <div class="button">
                                <a href="{% url 'core:redeem' %}">View Info...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="taker_giver">
    <section>
        <div class="contribution" id="contribution">
            <div class="money_head revealUp">
                <strong>Contribution</strong>
            </div>
            <div class="money_image">

                <div class="row revealUp">

                    <div class="col-sm-12 mb-3 mb-sm-0">
                        <div class="card">
                            <div class="card-inner">
                                <div class="card-front contro">
                                </div>
                                <div class="card-back">
                                    <div class="card-back-title">Data Contribution</div>
                                    <h1 style="color: #bec955;">Contribute Images and Location Data to the Green Plog Project</h1>
                                    <p>Help make a positive impact on our environment by contributing images and location data to the Green Plog Project! Your contributions will assist in identifying areas that need attention for a cleaner and greener world. Follow the simple steps below to make your contribution:</p>
                                    <div class="button">
                                        <a href="{% url 'userauths:contribute' %}">View Info...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="blogs" id="blogs">
            <div class="blogs_head revealUp">
                <strong>Blogs</strong>
            </div>
            <div class="card-group revealUp" style="gap: 3em;">

                <div class="card" style="padding: 0 2em;">
                    <div class="card-inner">
                        <div class="card-front">
                        </div>
                        <div class="card-back">
                            <div class="card-back-title">Reading Blogs</div>
                            <p>
                                Explore the world of plogging through my blogs—a fusion of jogging and picking up litter. Discover practical tips, benefits, and the joy of fostering a healthier you and a cleaner planet. Join the plogging movement!</p>
                            <div class="button">
                                <a href="{% url 'blog:blog' %}">Read Blogs...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="padding: 0 2em;">
                    <div class="card-inner">
                        <div class="card-front">
                        </div>
                        <div class="card-back">
                            <div class="card-back-title">Writing Blogs</div>
                            <p>
                                Explore the world of plogging through my blogs. Dive into the joy of combining fitness with environmental impact. Let's inspire change and share the simplicity and significance of jogging with purpose!</p>
                            <div class="button">
                                <a href="{% url 'blog:blog-new' %}">Write Blogs...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

<section class="contact" class="py-5" id="contact">
    <div class="contact_head revealUp">
        <strong>Contact</strong>
    </div>
    <div class="container">
        <div class="row revealUp">
            <div class="col-md-6 mx-auto">
                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.name.id_for_label }}" class="form-label">Name</label><br>
                        {{ form.name }}
                        <div class="invalid-feedback">
                            {{ form.name.errors }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.email.id_for_label }}" class="form-label">Email</label><br>
                        {{ form.email }}
                        <div class="invalid-feedback">
                            {{ form.email.errors }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.content.id_for_label }}" class="form-label">Message</label><br>
                        {{ form.content }}
                        <div class="invalid-feedback">
                            {{ form.content.errors }}
                        </div>
                    </div>
                    <button style="margin-top: 1em;" type="submit" class="btn btn-primary">Submit</button>
                </form>

                
                <!-- <script>
                    document.getElementById("contact").addEventListener("submit", function () {
                        alert("Form submitted successfully!");
                    });
                </script> -->
            </div>
        </div>
    </div>
</section>
{% endblock content %}