{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid rounded bg-white mt-5 mb-5">
    <form method="post" enctype="multipart/form-data" style="padding: 2em;padding-top: 5.5em;">
    {% csrf_token %}
    <h1>Hello,<br>Are You Sure Wanna Delete Post : {{ object.title }}</h1> <br>
    <button type="submit" class="btn btn-primary profile-button col-md-3" style="padding: .5em;font-size: 1.8em;">Confirm Delete</button> 

    <section class="light">
        <div class="container-fluid py-4">
            <article class="postcard light blue" style="margin-top: 1em;">
                <a class="postcard__img_link" href="#">
                    {% if user_profile.profile_image.url is not null %}
                        <img class="postcard__img" src="{{ object.blog_image.url }}" alt="Image Title" />
                    {% else %}
                        <img class="postcard__img" src="{% static 'assets/images/profile/avtar.jpeg' %}" alt="Default Image">
                    {% endif %}
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title blue"><a href="#"><img src="{{ user_profile.profile_image.url }}" style="width: 50px;height: 50px;border-radius: 50%;border: 1px solid #9aa62d;"> {{ object.title }}</a></h1>
                    <div class="postcard__subtitle small">
                        <time datetime="{{ p.date_posted }}" style="font-size: 1.2em;">
                            <i class="fas fa-calendar-alt mr-2"></i>{{ object.date_posted }}
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt" style="max-height: 6em;">{{ object.content }}</div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item">
                            <a>
                                <i class="fas fa-thumbs-up mr-2"></i><span style="font-size:1.2em;" class="material-symbols-outlined">thumb_up</span><span style="margin-left: .2em;font-size: 1.2em;">{{ object.likes.count }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </section>
   
</div>


{% endblock content %}
