{% extends 'partials/base-verifier.html' %}
{% load static %}

{% block content %}
<style>
    .verifier-profile input{
        background-color: #cbd477;
        pointer-events: none;
}
</style>
<div class="container-fluid rounded bg-white mt-5 mb-5 verifier-profile">
    <form method="post" id="profileForm" style="padding-top: 6.5em;">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3 border-right profile-image-section">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    {% if user_profile.profile_image.url is not null %}
                        <img class="rounded-circle mt-5" width="150px" height="150px" src="{{ user_profile.profile_image.url }}" alt="User Profile Image">
                    {% else %}
                        <img class="rounded-circle mt-5" width="150px" height="150px" src="{% static 'assets/images/profile/avtar.jpeg' %}" alt="Default Image">
                    {% endif %}
                    <span class="font-weight-bold" style="font-size: 2.5em;font-weight: 700;">{{ user_profile.name }} {{ user_profile.surname }}</span>
                    <span class="text-black-600" style="font-size: 1.8em;">{{ user_profile.email }}</span>
                </div>
                <div class="profile-edit-btn">
                    <a class="btn btn-primary profile-button" href="{% url 'core:verifier_edit' %}">Edit Profile</a>
                </div>
               
            </div>

            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right" style="font-size: 5em; font-weight: 600;color: #9aa62d;">Profile Settings
                        </h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labels">Name</label>
                                <input type="text" class="form-control" placeholder="Enter First Name"
                                    value="{{ user_profile.name }}" name="name" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="labels">Surname</label>
                                <input type="text" class="form-control" value="{{ user_profile.surname }}"
                                    name="surname" readonly
                                    placeholder="Enter Surname">
                            </div>
                        </div>
                        <div class="col-md-12 border-right">
    
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="labels">Mobile Number</label>
                                            <input type="text" class="form-control" placeholder="Enter Phone Number"
                                                value="{{user_profile.mobile_number}}" readonly name="contact">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="labels">Address</label>
                                            <input readonly type="text" class="form-control" placeholder="Enter Address"
                                                value="{{user_profile.address}}" name="address">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="labels">Postcode</label>
                                            <input readonly type="text" class="form-control"
                                                placeholder="Enter Postcode" value="{{user_profile.postcode}}"
                                                name="postcode">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="labels">Area</label>
                                            <input readonly type="text" class="form-control" placeholder="Enter Area"
                                                value="{{user_profile.area}}" name="area">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="labels">Email ID</label>
                                            <input readonly type="text" class="form-control"
                                                placeholder="Enter Email-Id" value="{{user_profile.email}}"
                                                name="email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="labels">Education</label>
                                            <input readonly type="text" class="form-control"
                                                placeholder="Enter Education" value="{{user_profile.education}}"
                                                name="education">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="labels">Country</label>
                                            <input readonly type="text" class="form-control" placeholder="Enter Country"
                                                value="{{ user_profile.country }}" name="country">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="labels">State/Region</label>
                                            <input readonly type="text" class="form-control"
                                                value="{{ user_profile.state_region }}" name="state_region"
                                                placeholder="Enter State">
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="mb-3 experience">
                        <span style="font-size: 5em; font-weight: 600;color: #9aa62d;">Requests</span>
                        <div class="container-fluid score_of_image">
                            <div class="row" style="gap: 2em;justify-content: center;">
                                {% for score in score %}
                                <div class="col-md-5">
                                    <div class="card-body score_body">
                                        <h1 class="score_h1">+{{ score.score_of_image }}</h1>
                                        <h3 class="score_status">
                                            {% if score.is_redeemed %}
                                            <span style="color: #99a33e; font-size: 1.3em;">Status=</span><span style="color: #99a33e;" class="material-symbols-outlined">check_circle</span>
                                            {% else %}
                                            <span style="font-size: 1.3em;">Status=</span><span class="material-symbols-outlined">schedule</span>
                                            {% endif %}
                                        </h3>
                                        <h3 class="check_status">
                                            {% if score.is_redeemed %}
                                                <a style="display: none;" href="#">Request Verify</a>
                                            {% else %}
                                                <a href="{% url 'core:approve_prediction' prediction_id=score.id %}" id="approve_btn">Approve</a>
                                            {% endif %}
                                        </h3>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ... remaining code -->
        </div>
    </form>
</div>

{% endblock content %}