.contro-outer{
    background: url(../images/registration.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.image-contro h1{
    color: var(--nav-text-color);
    font-family: 'roboto', sans-serif;
    font-size: 4em;
    font-weight: 700;
    background-image: url(../images/hero.gif);
    background-position: center center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.image-contro p{
    font-size: 1.8em;
    font-family: 'atomic', sans-serif;
    text-align: left;
    color: #f8f8f8;
}

.image-contro .row strong{
    font-size: 1.8em;
    font-family: 'atomic', sans-serif;
    text-align: left;
    color: #161c06;
}
.image-contro ul{
    font-size: 1.8em;
    font-family: 'atomic', sans-serif;
    text-align: left;
    color: #f8f8f8;
}
.image-contro label{
    font-size: 1.8em;
    font-weight: 600;
}
#id_latitude,
#id_longitude,
#id_image{
    border: 2px solid transparent;
    font-size: 1.6em;
    width: 100%;
    background-color: rgba(255, 255, 255, .2);
}

#id_latitude:focus,
#id_longitude:focus,
#id_image:focus{
    background-color: rgba(217, 229, 101, .6);
    border: 2px solid #d9e565;
    box-shadow: none;
}

.donate-btn {
    font-size: 2em;
    padding: 0 1em;
    transition: .7s;
    border-radius: 50px;
    color: var(--nav-text-color);
    border: 2px solid var(--nav-text-color);
    background: #e0e0e0 !important;
    box-shadow: inset 20px 20px 60px #d9e565,
        inset -20px -20px 60px #ffffff !important;
}

.donate-btn:hover {
    color: var(--nav-color);
    border: 2px solid var(--nav-color);
}