{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<section class="light">
    <div class="container py-4">
        <div class="blogs_head" style="margin-top: 3em;">
            <strong>Blogs</strong>
        </div>

        {% for p in posts %}
        <article class="postcard light blue col-md-12" style="margin-top: 1em;height: 30em;">
            <a class="postcard__img_link" href="#">
                {% if p.blog_image.url %}
                    <img class="mt-5 postcard__img" src="{{ p.blog_image.url }}" alt="Blog Image">
                {% else %}
                    <img class="mt-5 postcard__img" src="{% static 'assets/images/profile/avtar.jpeg' %}" alt="Default Image">
                {% endif %}
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title blue">
                    <a href="{% url 'blog:blog-detail' p.id %}">
                        <img src="{{ p.authorProfile.profile_image.url }}" style="width: 50px;height: 50px;border-radius: 50%;border: 1px solid #9aa62d;">
                        {{ p.title }}
                    </a>
                </h1>
                <div class="postcard__subtitle small">
                    <time datetime="{{ p.date_posted }}" style="font-size: 1.2em;">
                        <i class="fas fa-calendar-alt mr-2"></i>{{ p.date_posted }}
                    </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{ p.content }}</div>
                <ul class="postcard__tagbox">
                    <li class="tag__item">
                        <a href="{% url 'blog:like-post' pk=p.id %}">
                            <i class="fas fa-thumbs-up mr-2"></i>
                            <span style="font-size:1.2em;" class="material-symbols-outlined">thumb_up</span>
                            <span style="margin-left: .2em;font-size: 1.2em;">{{ p.likes.count }}</span>
                        </a>
                    </li>
                    <li class="tag__item">
                        <a href="{% url 'blog:blog-detail' p.id %}">
                            <i class="fas fa-comment mr-2"></i>
                            <span style="font-size:1.2em;" class="material-symbols-outlined">comment</span>
                            <span style="margin-left: .2em;font-size: 1.2em;">{{ comments.count }}</span>
                        </a>
                    </li>
                    <li class="tag__item play blue">
                        <a href="{% url 'blog:blog-detail' p.id %}">
                            <i class="fas fa-play mr-2"></i>Read Blog
                        </a>
                    </li>
                </ul>
            </div>
        </article>
        {% endfor %}
    </div>
</section>

{% endblock content %}
