{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<section class="light">
    <div class="container py-4">
        <div class="blogs_head" style="margin-top: 3em;">
            <strong>Blogs</strong>
        </div>
        <article class="postcard light blue" style="margin-top: 1em;">
            <a class="postcard__img_link" href="#">
                {% if post.blog_image.url is not null %}
                    <img class="mt-5 postcard__img" src="{{ post.blog_image.url }}" alt="User Profile Image">
                {% else %}
                    <img class="mt-5 postcard__img" src="{% static 'assets/images/profile/avtar.jpeg' %}" alt="Default Image">
                {% endif %}
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title blue"><a><img src="{{ post.authorProfile.profile_image.url }}" style="width: 50px;height: 50px;border-radius: 50%;border: 1px solid #9aa62d;"> {{ post.title }}</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="{{ p.date_posted }}" style="font-size: 1.2em;">
                        <i class="fas fa-calendar-alt mr-2"></i>{{ post.date_posted }}
                    </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{ post.content }}</div>
                <ul class="postcard__tagbox">
                    <li class="tag__item">
                        <a>
                            <i class="fas fa-thumbs-up mr-2"></i><span style="font-size:1.2em;" class="material-symbols-outlined">thumb_up</span><span style="margin-left: .2em;font-size: 1.2em;">{{ post.likes.count }}</span>
                        </a>
                    </li>
                    <li class="tag__item">
                        <a>
                            <i class="fas fa-comment mr-2"></i><span style="font-size:1.2em;" class="material-symbols-outlined">comment</span><span style="margin-left: .2em;font-size: 1.2em;">{{ comments.count }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </article>

        <div class="container-fluid">
            <div class="be-comment-block">
                <h1 class="comments-title">Comments {{ comments.count }}</h1>
                {% for comment in comments %}
                <div class="be-comment" style="padding: 1em 0;">
                    <div class="be-img-comment">	
                        <a>
                            <img src="{{ comment.author.userprofile.profile_image.url }}" alt="" class="be-ava-comment">
                        </a>
                    </div>
                    <div class="be-comment-content">
                        
                        <span class="be-comment-name">
                            <a>{{ comment.author }}</a>
                            </span>
                        <span class="be-comment-time">
                            <i class="fa fa-clock-o"></i>
                            {{ comment.created_at }}
                        </span>
            
                        <p class="be-comment-text">
                            {{ comment.text }}
                        </p>
                        <div class="comment-edit-dlt-btn">
                            {% if comment.author == request.user %}
                                <a class="comment-edit" href="{% url 'blog:comment-update' pk=post.id comment_pk=comment.id %}"><h2>Edit</h2></a>
                                <a class="comment-dlt" href="{% url 'blog:comment-delete' pk=post.id comment_pk=comment.id %}"><h2>Delete</h2></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
                <form class="form-block" method="post" action="{% url 'blog:comment-create' pk=post.id %}">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button class="comment-btn" type="submit">Add Comment</button>
                </form>
                <style>
                    .form-block label{
                        font-size: 2em;
                        margin-top: 2em;
                    }
                    #id_text{
                        width: 100%;
                        height: 9em;
                        font-size: 1.6em;
                        overflow-y: auto;
                        border-radius: .5em;
                        padding: .3em;
                        border-color: rgb(214, 230, 74);
                        color: white;
                        background: linear-gradient(90deg,#acc157,#cfdb5c);
                    }
                    .comment-btn{
                        font-size: 1.8em;
                        background: #cbd477;
                        padding: .2em 2em;
                        box-shadow: none;
                        border: none;
                        border-radius: .4em;
                    }
                    .comment-btn:hover {
                        background: #d9e565;
                    }
                    .comment-btn:focus{
                        background: #d9e565;
                        box-shadow: none
                    }
                    .comment-btn:active {
                        background: #d9e565;
                        box-shadow: none
                    }
                </style>
            </div>
        </div>
    </div>
</section>


{% endblock content %}