{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<section class="light">
    <div class="container py-4">
        <div class="blogs_head" style="margin-top: 3em;">
            <strong>Blogs</strong>
        </div>
        <article class="postcard light blue" style="margin-top: 1em;">
            <a class="postcard__img_link" href="#">
                {% if user_profile.profile_image.url is not null %}
                    <img class="postcard__img" src="{{ object.blog_image.url }}" alt="Image Title" />
                {% else %}
                    <img class="postcard__img" src="{% static 'assets/images/profile/avtar.jpeg' %}" alt="Default Image">
                {% endif %}
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title blue"><a href="#"><img src="{{ user_profile.profile_image.url }}" style="width: 50px;height: 50px;border-radius: 50%;border: 1px solid #9aa62d;"> {{ object.title }}</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="{{ p.date_posted }}" style="font-size: 1.2em;">
                        <i class="fas fa-calendar-alt mr-2"></i>{{ object.date_posted }}
                    </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{ object.content }}</div>
                <ul class="postcard__tagbox">
                    <li class="tag__item" style="font-size: 1.3em;"><i class="fas fa-tag mr-2"></i>Blogpost</li>
                    <li class="tag__item"style="font-size: 1.3em;"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                    <li class="tag__item play blue">
                        <a href="#"><i class="fas fa-play mr-2"></i>Read Blog</a>
                    </li>
                </ul>
            </div>
        </article>
    </div>
</section>


{% endblock content %}