* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style: none;
    font-size: 10px;

}

html {
    scroll-behavior: smooth;
    scroll-padding: 15em;
}

body,
html {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0px;
}
hr{
    padding: 0!important;
    margin: 0!important;
}
@font-face {
    font-family: 'atomic';
    src: url('../fonts/AtomicAge-Regular.ttf') format('truetype');
}

:root {
    --nav-color-text:#01211c;
    --nav-text-color: #9aa62d;
    --nav-color: #753569;
    --shadow-color: #b8b8ae;
    --purple-color: #753569;
    --primary-color: rgb(40, 40, 255);
}
.navbar-brand{
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.logo{
    width: 60px;
}