.profile {
    display: none;
    width: 30em;
    height: 17em;
    position: fixed;
    top: 6.5em;
    left: 3em;
    z-index: 10000;
    border-radius: 1em;
    border: 1px solid grey;
    box-shadow: 0 2px 4px 1px rgb(172, 172, 172);
    background-color: white;
    overflow: hidden;
    padding: 1.5em;
}

.profile_main {
    width: 100%;
    align-items: center;
    height: 4.5em;
    display: flex;
    justify-content: space-between;
}

.profile .company {
    display: flex;
    align-items: center;
    justify-content: left;
}

.profile .company img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

.profile .company h1 {
    font-size: 2em;
    font-weight: 600;
    text-shadow: 0 0 3px grey;
    color: #01211c;
}

.profile_main .profile_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    position: relative;
}

.profile .profile_button,
.profile .profile_button{
    font-size: 1.6em;
    position: absolute;
    right: 0;
}

.profile_hero {
    width: 100%;
    height: 10em;
    display: flex;
    align-items: center;
}

.profile_user img {
    width: 8em;
    height: 8em;
    border-radius: 50%;
}

.profile_user_detail {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 2em;
    overflow: hidden;
}
.profile_user_detail h2{
    font-size: 2em;
    margin: 0;
    color: grey;
}
.profile_user_detail p{
    overflow: hidden;
    color: grey;
    font-size: 1.3em;
}
.profile_user_detail p a{
    font-size: 1em;
}