.redeem-heading {
    padding: .5em 2em;
}

.redeem-points,
.redeem-heading {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: transparent;
}

.redeem-username {
    padding: 0 1em;
}

.redeem-points {
    margin-left: auto;
}
.redeem-points a{
    display: flex;
    align-items: center;
    font-size: 2em;
}
.redeem-score {
    font-size: 2em;
    font-weight: 700;
    margin-left: .2em;
}



#voucher {
    border: 1px solid #ccc;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/gpay.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px 4px 2px 2px rgb(153, 153, 153);
    border-radius: 10px;
}

#voucher h2 {
    margin-top: 0;
    color: #cad65a;
    font-weight: 600;
    font-size: 4em;
}
#voucher-code{
    font-size: 5em;
    font-weight: 700;
    opacity: .8;
}
